<!-- responsive container for all centered conent on the application -->
<div class="container">
    <div class="row">
        <h1 class="title">Gallery Manager</h1>
    </div>
    </br>
    <div class="row">
        <!-- placeholder text within the input -->
        <input placeholder="name your gallery" id="input" />
    </div>
    <div class="row">
        <!-- submit button id -->
        <button id="submit">Submit</button>
    </div>
    </br>
    <div class="row">
        <table id="table">
            <thead>
                <tr>
                    <th>Your Galleries</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                    {{#each gallery_data}}
                    <td> {{ gallery.id }} </td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>

</div>